*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
 
body {
    height: 100vh;
    display: flex;
     background:linear-gradient(135deg,#153677,#4e085f);
}

 