<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="register-container">
        <h2>Create Account</h2>
        <form>
        <div class="input-group">
            <p>First Name</p>
            <input type="text" placeholder="Enter your first name" required>
        </div>
            <div class="input-group">
                <p>Last Name</p>
                <input type="text" placeholder="Enter your last name" required>
            </div>
            <div class="input-group">
                <p>Email</p>
                <input type="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group">
                <p>Password</p>
                <input type="password" placeholder="Enter your password" required>
            </div>
            <a href="">Sign up</a>
            <a href="sign.html">Sign in</a>
        </form>
    </div>
</body>
</html>